{% extends 'layout.twig' %}
{% block body %}

	<article class="blog">

		<header>
			<h2>About symblog</h2>
		</header>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure impedit voluptate eum rem ad. Amet consequuntur sit, perspiciatis in earum tenetur saepe! Non odit tempora animi aut commodi. Dignissimos, minima! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deserunt eos delectus sequi asperiores vero minima cumque ullam rem recusandae, pariatur adipisci ratione nostrum, culpa laudantium. Tempore ad modi est.
		</p>
	</article>
{% endblock %}
