{% extends 'layout.twig' %} 

{% block body %} 
    
   <h1>Dashboard</h1>

 <ul class="navigation">
      <li><a href="./addblog">Add blog</a></li>
      <li><a href="./addUser">Add User</a></li>
</ul>

<br><br>
<a href="./login">logout</a>

{% endblock %}